.wrapper {
  background-color: #ecf0f5;
}

.box-widget .nav {
  display: block;
  padding: 5px 15px;
}
.box-widget .widget-user-username {
  margin-left: 0px;
}
.wrapper {
  height: 100vh !important;
}
.container {
  margin-top: 100px;
}